{% extends 'base.html' %}
{% block content %}
	<center>
	<h1>Aqui ficará a observação de portfolio</h1>
	<br/><br/>
	{% if submitted %}
		Ação adicionada ao portfolio com sucesso!<br/><br/>

	{% else %}
		<form action="" class="d-flex" role="search" method="POST">
			{% csrf_token %}
			
			{{ form.as_p }}

			<button type="submit" class="btn btn-success">Adicionar ao Portfolio</button>
		</form>
	<br/>
	{% endif %}


<table class="table table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">Ticker Ação</th>
      <th scope="col">Nome da Empresa</th>
      <th scope="col">Moeda Cotação</th>
      <th scope="col">Qtd Comprada</th>
      <th scope="col">Valor de Compra</th>
      <th scope="col">Preço MÍN Venda Desejado</th>
      <th scope="col">Fechamento Pregão Anterior</th>
      <th scope="col">Preço Atual</th>
      <th scope="col">Variação Absoluta Intraday</th>
      <th scope="col">Variação % Intraday</th>
      <th scope="col">Remover</th>
    </tr>
  </thead>
  <tbody>
{% if porttab %}
    	{% for list_item in output %}
    		<tr>
		    	<th scope="row">{{list_item.companycode}}</th>
				<td>{{ list_item.company }}</td>
				<td>{{ list_item.currency }}</td>
				<td>{{ list_item.quantity }}</td>
				<td>{{ list_item.bought_price }}</td>
				<td>{{ list_item.price_alert }}</td>
				<td>{{ list_item.previousday }}</td>
				<td>{{ list_item.latest }}</td>
				<td>{{ list_item.change }}</td>
				<td>{{ list_item.changepercent }}</td>
				<td><a href="/"> Delete </a></td>
			</tr>
		{% endfor %}
{% endif %}
  </tbody>
</table>
</center>


<br/><br/>

{% endblock %}